<div class="post">
  <div class="post_header">
    <h4><%= @post.title %> by <%= @post.author.name %></h4>
    <div>
      <p>Comments: <span><%= @post.comments.count %></span></p>
      <p>Likes: <span><%= @post.likes.count %></span></p>
    </div>
  </div>
  <p><%= @post.text %></p>
  <%= render partial: "shared/comment/new_comment"%>
</div>
<div class="comments">
  <% @post.comments.each do |comment| %>
    <p><%= comment.author.name %> : <%= comment.text %></p>
  <% end %>
</div>
<%= button_to 'Like', user_post_likes_path(@post.author, @post), method: :post, class: 'all_posts'%>