<div class="post">
  <div class="post_header">
    <h4><%= @post.title %> by <%= @post.author.name %></h4>
    <div>
      <p>Comments: <span><%= @post.comments.count %></span></p>
      <p>Likes: <span><%= @post.likes.count %></span></p>
    </div>
  </div>
  <p><%= @post.text %></p>
</div>
<%= render partial: "shared/post/comment", locals: { post: @post } %>